:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #1b1b1b;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #3651cb;
  --second-brand-color: #e46e1b;
  --third-brand-color: #e1e3ef;
  --fourth-brand-color: #0f0f0f;


  --main-font:  'Open Sans Regular';
  --title-font:  'Open Sans Bold';
  --main-title-font: 'Open Sans ExtraBold';

  font-size: 62.5%;
}
